TURSO_URL=
TURSO_AUTH_TOKEN=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
NEXTAUTH_URL="http://localhost:3000"
# openssl rand -base64 32
NEXTAUTH_SECRET="GswDM2UhlHhVzuwmv8Bhzk7ZkcQYDCAVxkOZOjeJB6Y="
GITHUB_ID=
GITHUB_SECRET=